<div class="categoryPartialLinks_div">
    <div class="container-fluid" style="margin-top:20px;">
        <div class="row">
            <div class="col-sm-3">
                <a href="@Url.Action("GetAllCategories", "Category")">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size:20px; color:#EF9A9A; margin-top:8px;"></span>
                    <label class="category_par"> Category List </label>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="@Url.Action("Create", "Category")" class="user_par">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true" style="font-size:20px; color:#EF9A9A; margin-top:7px;"></span>
                    <label class="category_par"> Add Category </label>
                </a>
            </div>
        </div>
    </div>
</div>

