<div class="questionPartialLinks_div">
    <div class="container-fluid" style="margin-top:20px;">
        <div class="row">
            <div class="col-sm-3">
                <a href="@Url.Action("GetAllQuestions", "Question")">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size:20px; color:#80CBC4; margin-top:8px;"></span>
                    <label class="question_par"> Question List </label>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="@Url.Action("Create", "Question")" class="user_par">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true" style="font-size:20px; color:#80CBC4; margin-top:7px;"></span>
                    <label class="question_par"> Add Question </label>
                </a>
            </div>
        </div>
    </div>
</div>
