<div class="userPartialLinks_div">
    <div class="container-fluid" style="margin-top:20px;">
        <div class="row">
            <div class="col-sm-2">
                <a href="@Url.Action("GetAllUsers", "Users")">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size:20px; color:#F48FB1; margin-top:8px;"></span>
                    <label class="user_par"> User List </label>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="@Url.Action("Register", "Account")" class="user_par">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true" style="font-size:20px; color:#F48FB1; margin-top:7px;"></span>
                    <label class="user_par"> Add User </label>
                </a>
            </div>
        </div>
    </div>
</div>